# Virtual environments
mlops_env/
__pycache__/

# Installers
Miniconda3-latest-*.sh

# Compiled libraries and binaries
*.dylib
*.so
*.exe
*.bin

# Logs and cache
*.log
airflow/logs/

# System
.DS_Store

# MLFlow artifacts
mlruns/
Miniconda3-latest-*.sh
mlops_env/
